{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post_detail.title }}</title>
    <link rel="stylesheet" href="{% static 'pc_builder/css/style.css' %}">
</head>
<body>

    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}?next={% url 'post_detail' post_detail.id %}" class="nav-link logout">로그아웃</a>
            <a href="{% url 'account_change_password' %}?next={% url 'post_detail' post_detail.id %}" class="nav-link logout">비밀번호 변경</a>
            <a href="{% url 'profile' user.id%}" class="nav-link logout">내 프로필</a>
        {% else %}
            <a href="{% url 'account_login' %}?next={% url 'post_detail' post_detail.id %}" class="nav-link login">로그인</a>
            <a href="{% url 'account_signup' %}?next={% url 'post_detail' post_detail.id %}" class="nav-link signup">회원가입</a>
        {% endif %}
    </nav>

    <div class="container">
        <div class="post-box">
            <div class="post-header">
                <h1 class="title">{{ post_detail.title }}</h1>
                <div class="meta-info">
                    <div style="background-image: url('{{ post_detail.author.profile_pic.url }}'); width: 50px; height: 50px; background-size: cover; border-radius: 50%;"></div>
                    <a href="{% url 'profile' post_detail.author.id %}" class="author">{{ post_detail.author.nickname }}</a> |
                    <span class="date">{{ post_detail.dt_created|date:"Y-m-d H:i" }}</span>
                </div>
            </div>

            
            <div class="post-thumbnail">
                {% if post_detail.image1 %}
                    <img src="{{ post_detail.image1.url }}" alt="Post Image">
                {% else %}
                    <p>이미지가 없습니다.</p>
                {% endif %}
            </div>
            

            <div class="post-content">
                <p>{{ post_detail.content |linebreaksbr}}</p>
            </div>

            <div class="button-group">
                <a href="{% url 'post_list' %}" class="button">목록으로</a>
                {% if post_detail.author == user %}
                    <a href="{% url 'post_edit' post_detail.id %}" class="button">수정하기</a>
                    <a href="{% url 'post_delete' post_detail.id %}" class="button">삭제하기</a>
                {% endif %}
            </div>
        </div>

        <!-- 댓글 목록 -->
        <div class="comment-section">
            <div class="comment-list">
                <div>
                    <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                            <form action="{% url 'process_like' post_ctype_id post_detail.id%}" method="post" style="display: flex; align-items: center;">
                                {% csrf_token %}
                                <button type="submit" data-login-required style="border: none; background: none; padding: 0; cursor: pointer; display: flex; align-items: center;">
                                {% if likes_post %}
                                    <img src="{% static 'pc_builder/icons/ic-heart-red.svg' %}" alt="comment like icon" style="margin-right: 5px;">
                                {% else %}
                                    <img src="{% static 'pc_builder/icons/ic-heart.svg' %}" alt="comment icon" style="margin-right: 5px;">
                                {% endif %}
                                </button>
                                <span>{{ post_detail.likes.count }}</span>
                            </form>
                        <div style="display: flex; align-items: center;">
                            <img src="{% static 'pc_builder/icons/ic-comment.svg' %}" alt="comment icon" style="margin-right: 5px;">
                            <span>{{ post_detail.comments.count }}</span>
                        </div>
                    </div>        
                </div>
                {% for comment in post_detail.comments.all %}
                    <div class="comment">
                        <div class="comment-header">
                            <div class="author">
                                <div class="profile-pic" style="background-image: url('{{ comment.author.profile_pic.url }}');"></div>
                                <a href="{% url 'profile' comment.author.id %}"><span>{{ comment.author.nickname }}&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                            </div>
                            {% if comment.author == user %}
                                <div class="buttons">
                                    <a href="{% url 'comment_delete' comment.id%}">삭제</a>
                                    <span> | </span>
                                    <a href="{% url 'comment_update' comment.id%}">수정</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="comment-content">
                            <span>{{ comment.content | linebreaksbr }}</span>
                        </div>
                        <div class="comment-footer">
                            <div class="comment-date">
                                작성일 : {{ comment.dt_created|date:"Y년 n월 j일" }}&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        
                            <form action="{% url 'process_like' comment_ctype_id comment.id%}" method="post">
                                {% csrf_token %}
                                <button type="submit" data-login-required style="border: none; background: none; padding: 0; cursor: pointer; display: flex; align-items: center;">
                                {% if comment in likes_comment %}
                                    <img src="{% static 'pc_builder/icons/ic-heart-red.svg' %}" alt="comment icon" style="margin-right: 5px;">
                                {% else %}
                                    <img src="{% static 'pc_builder/icons/ic-heart.svg' %}" alt="comment icon" style="margin-right: 5px;">
                                {% endif %}
                                <span> 좋아요 {{ comment.likes.count }}</span>
                                </button>
                            </form>
                        </div>
                    </div>
                {% empty %}
                    <p>아직 댓글이 없습니다. 첫 댓글을 남겨보세요!</p>
                {% endfor %}
            </div>

            <!-- 댓글 작성 폼 -->
            <div class="comment-form">
                <h3>댓글 작성</h3>
                <form method="post" action="{% url 'comment_create' post_detail.id %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {{ form.content|attr:"placeholder:댓글 내용을 입력해주세요."|add_class:"form-control"}}
                        <button type="submit" class="button">댓글 작성</button>
                    {% else%}
                        {{ form.content|attr:"placeholder:댓글을 작성하려면 로그인이 필요합니다."|attr:"disabled"|add_class:"form-control" }}
                        <p class="login-message">
                            <a href="{% url 'account_login' %}?next={% url 'post_detail' post_detail.id %}">
                                이곳을 눌러 로그인 해주세요.
                            </a>
                        </p>
                        <button class="cp-button small secondary" type="submit" disabled>등록</button>
                    {% endif%}
                    </form>
            </div>
        </div>
        
    </div>
    <script src="{% static 'pc_builder/js/auth.js' %}"></script>
    <script>
        const isAuthenticated = '{{ user.is_authenticated }}' === 'True';
    </script>
</body>
</html>
